
body{
max-width: 1920px;
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive;
}

/* reusable general classes */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  clear: both;
}

.col-1 {
  width: calc(100% / 12);  
}

.col-2 {
  width: calc(100% / 12 * 2);  
}

.col-6 {
  width: calc(100% / 12 * 6);  
}

.col-8 {
  width: calc(100vw / 12 * 8);
}
.col-12 {
  width: 100vw;
}

.col-1, .col-12, .col-8, .col-2, .col-6{
  height: 30vh;
  border: 1px solid black;
  background-color: pink;
  text-align: center;
}

/* nested ones*/

 
.row{
  width: 100vw;
  margin: 0;
}
.row-nested{
  width: 50vw;
  height: 30vh;
  display: inline-flex;
  flex-wrap: wrap;
}
.row-nested > div{
  height: 20vh;
  background-color: salmon;
  border: 1px solid white;
  text-align: center;
}

.row-nested > .col-8{
 border-right: 2px solid black;
 width: calc(100vw / 2 / 12 * 8);
}


/* /reusable general classes */

/* header */

/* main */

/* footer */
